---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about">
	<main>
		<h1>hi, i'm errplane.</h1>
		<p>the person that created <a href="https://freesoftware.club">freesoftware.club</a>, programmer, gamer, and grass toucher.</p>
	</main>
</Layout>
