---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <slot />
    <br>
    <a href="/posts">‹ back to all posts</a>
</Layout>